@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --title: #ff4f5a;
    --text: #1a2e35;
    --white: #fff;
    --background: #fff; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.container header {
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.container header span {
    color: var(--text);
    font-size: 24px;
    font-weight: 700;
    text-align: start;
    cursor: pointer;
    position: relative;
    right: 2%;
    transition: .3s ease;
}

.container header nav {
    width: auto;
    height: auto;
    position: relative;
    right: 4%;
}

.container header nav ul {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header nav ul li  {
    list-style: none;
}

.container header nav ul li a {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: .3s ease;
}

.container header nav ul li a:hover {
    color: var(--title);
}

.search {
    width: 30px;
    height: 30px;
    position: relative;
    left: 2%;
    cursor: pointer;
    transition: .3s ease;
}

/* Main - Container - All */
.main {
    width: 100%;
    height: auto;
}

.section-1 {
    width: 100%;
    height: auto;
    padding: 45px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.container-service {
    width: 1170px;
    height: 370px;
    display: flex;
}

.container-service .img-service {
    width: 100%;
    max-width: 50%;
    height: 100%;
}

.container-service .img-service img {
    width: 100%;
    height: 100%;
}

.description-service {
    width: 100%;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-service h1 {
    color: var(--text);
    font-size: 57px;
    font-weight: 600;
    text-align: start;
    margin: 0px 8px 10px;
    line-height: 1.16;
}

.description-service h1 span {
    color: var(--title);
}

.description-service p {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}